body{
    padding:50px;
background-color:#a1facf
}
.container{
    max-width: 600px;
    margin: auto;
    padding:50px;
  background-color:white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.button{
 background-color:#26e187;
 border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.form-group{
    margin-bottom:30px;
}